<configuration>

    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">

        <url>${SPLUNK_HEC_URL}</url>
        <token>${SPLUNK_HEC_TOKEN}</token>
        <index>${SPLUNK_INDEX:-main}</index>
        <source>${SPLUNK_SOURCE:-ecommerce-application}</source>
        <sourcetype>${SPLUNK_SOURCETYPE:-spring-boot}</sourcetype>
        <messageFormat>json</messageFormat>
        <includeMDC>true</includeMDC>

        <disableCertificateValidation>${SPLUNK_DISABLE_SSL_VALIDATION:-true}</disableCertificateValidation>

        <batch_size_count>1</batch_size_count>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.springframework" level="WARN"/>


    <logger name="com.udacity.ecommerce" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SPLUNK"/>
    </root>
</configuration>
